{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
<head>
	<title>{{ app_name | title }} - {% block title %}{% endblock title %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block pagestyles %}
	<link rel="stylesheet" type="text/css" href="{% static 'auth_app/assets/bootstrap-4.3/css/bootstrap.min.css' %}">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="{% static 'auth_app/assets/css/all.css' %}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'auth_app/assets/css/resident-home-style.css' %}">
    {% endblock pagestyles %}

    {% block extrastyles %}{% endblock extrastyles %}


</head>
<body>
<div style="overflow-x: hidden;">

<header>
 <!-- navbar starts -->
		<nav id="navbar-cleaning" class="navbar navbar-expand-lg navbar-light fixed-top">
		  <a class="navbar-brand" href="/"><img src="{% static 'auth_app/assets/images/logo-black1.png' %}"></a>
		  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul id="custom-ul" class="navbar-nav ml-auto">
		    	 <li class="nav-item" >
			        <a class="nav-link" href="{% url 'main_app:find_roommate' %}">Find a roomate</a>
			    </li>
			    <li class="nav-item dropdown text-white">
		        <a class="nav-link" href="{% url 'main_app:vendor' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Vendor<i class="fas fa-angle-down ml-2"></i>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="">
		          <a class="dropdown-item mb-2" href="{% url 'main_app:moving_service' %}">Moving Services</a>
		          <a class="dropdown-item" href="{% url 'main_app:cleaning_service' %}">Cleaning Service</a>
		        </div>
		      </li>
			     <li class="nav-item" >
                    {% if request.path == '/auth/login' %}
                        <a class="nav-link btn-signup-index" href="{% url 'auth_app:signup' %}">
                            Signup
                        </a>
                    {% elif request.path == '/auth/signup' %}
                        <a class="nav-link btn-signup-index" href="{% url 'auth_app:login' %}">
                            Login
                        </a>
                    {% endif %}
			    </li>
		    </ul>
		  </div>
		</nav>
		<!-- navbar ends -->

    <!-- navbar ends -->
</header>
	
    <!-- Header ends -->
    <!-- main body starts -->
	<main class="container-fluid  pl-0 pr-0 nav-top-margin">

{% block contents %}
{% endblock contents %}
	
  
			
        	

	</main>


  		<!-- footer starts -->
	<footer id="footer" class="continer">
	
		<div class="row justify-content-center row-custom" >
				<div class="col-4 ">
					<h4 class="text-muted pb-2">RentEase</h4>
					<span>
	          			<h5>Lorem ipsum dolor amet sit</h5>
	          			<h5>Lorem ipsum dolor amet sit</h5>
          			</span>
				</div>
          		
          		<div class="col-4 text-center">
          			<h4 class="text-muted pb-2">Useful Links</h4>
          			<span>
	          			<a href="{% url 'main_app:vendor' %}"><h5>Vendors</h5></a>
	          			<a href="{% url 'main_app:contact_us' %}"><h5>Contact Us</h5></a>
	          			<a href="{% url 'main_app:faq' %}"><h5>FAQ</h5></a>
	          			<a href="{% url 'main_app:about_us' %}"><h5>About Us</h5></a>	
          			</span>
          		</div>
 				
 				<div class="col-4 text-right tumblr-icon-head-p">
          			<h4 class="text-muted pb-2 respon-h4">We are social</h4>
          			<span>
	          			<h5>
	          				<a href=""><i class="fab fa-facebook-f text-muted"></i></a>
	          				<a href=""><i class="fab fa-tumblr text-muted tumblr-icon"></i></a>
	          				<a href=""><i class="fab fa-linkedin-in text-muted "></i></a>		
	          			</h5>
          			</span>
          		</div>       		
		</div>
		<div class="row">
			<div class="col-12 mt-lg-0 mt-3">
			<h6 class="text-muted">© {{ app_name | title }} {{ current_year }}. All rights Reserved</h6>
			</div>
		</div>	
			
					
	</footer>

</div>
{% block pagescripts %}
<script src="{% static 'auth_app/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'auth_app/assets/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'auth_app/assets/bootstrap-4.3\js\bootstrap.min.js' %}"></script>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<script src="{% static 'auth_app/assets/js/main.js' %}"></script>
<script src="{% static 'auth_app/assets/js/myScript.js' %}"></script>
<script src="{% static 'auth_app/assets/js/indexScript.js' %}"></script>
<script type="text/javascript" src="{% static 'auth_app/assets/js/owl.carousel.min.js' %}"></script>
{% endblock pagescripts %}

{% block extrascripts %}{% endblock extrascripts %}
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    nav:false,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
          
        },
        768:{
            items:2,
            
        },
        992:{
            items:3,
            
            loop:false
        }
    }
});
</script>

</body>
</html>