{% extends 'auth_app/base_auth_social.html' %}
{% load static %}

{% block title %}
Social Auth Password
{% endblock title %}

{% block content %}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div>
                <h3>Change Password</h3>
                <hr />
                {% if not user.has_usable_password %}
                    <p style="color: red">You have not defined a password yet.</p>
                {% endif %}
                <p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Save Changes</button>
                    </form>    
                </p>           
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
{% endblock content%}