
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.btn-style-sidebar{
       background-color: rgb(214,19,91) !important;
       color: #fff;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    background-image: linear-gradient(to   right bottom, rgb(244,18,76) 50% , yellow  ) !important;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -300px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
     padding-top: 2em;
     padding-left:5.5rem;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li {
   margin-top: .4em;
}

#sidebar ul li a {
    color: #fff;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    padding-left: 5.5rem;
}
#sidebar ul li a:hover {
    color: rgb(172,147,44);
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
   color: rgb(172,147,44);
    background: #fff;
    font-weight: bold !important;
    padding-left: 7em;

}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*a.download {
    background: #fff;
    color: #7386D5;
}
*/
/*a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}*/



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 3rem;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

@media (max-width: 1199.98px){
#content {
    padding: 2rem;
}

@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {

  #sidebarCollapse {
    width: 35px !important;
    height: 30px !important;
}
#content {
    padding: 1rem;
}

}
